@font-face {
    font-family: "Fog68";
    src: url(./assets/fonts/Foglihten-068.otf) format('opentype');  
}  
@font-face {
    font-family: "Fog7";
    src: url(./assets/fonts/FoglihtenNo07.otf) format('opentype');  
}  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  :root{
    --fs-nav: 4rem;
    --fs-nav-order: 0.85rem;
    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-med: 1.25rem;
    --fw-thick: 600;
  }

    html{
        cursor: none;
    }
    body{
        overflow-x: hidden;
        background-color: rgb(218, 218, 218);
    }
    header{
        z-index: 9000;
    }
    h1,h2,h3,h4,h5{
        font-family: 'Fog7',Serif;
    }
    div,p,a{
        font-family: 'Fog68',Serif;
        font-size: var(--fs-med);
    }
    .fw-thick{
      font-weight: var(--fw-thick);
    }
    h1{
        font-size: var(--fs-h1);
        margin: 6rem 0 1rem 0;
    }
    h2{
      font-size: var(--fs-h2);
      /* margin: 5rem 0 1rem 0; *
    }
    a{
        cursor: none;
    }
    section{
        padding: 1rem;
 
    }
  .menu-btn {
    position: fixed;
    display: flex;
    top: 1rem;
    right: 1rem;
    /* z-index: 9999; */
    width: 45px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
     /* cursor: pointer; */
    transition: all .2s ease-in-out;
    /* background-color: black; */
    border-radius: 50%;
    /* border: 2px solid hsl( var(--clr-brown)); */
    /* z-index: 9100; */
    mix-blend-mode: difference;
  }
  .menu-btn__burger {
    position:relative;
    width: 45px;
    height: 2px;

    
    /* background: rgb(14, 14, 14); */
    /* background: transparent; */
    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .2s ease-in-out;
    /* transform: translateX(0px); */
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    background-color: rgb(252, 252, 252);

    /* border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .2s ease-in-out;
  }
  .menu-btn.open .menu-btn__burger::before,
  .menu-btn.open .menu-btn__burger::after{
    /* background: rgb(255, 255, 255); */
  }
  .menu-btn__burger::before {
    transform: translateY(-8px) translateX(0px);
  }
  .menu-btn__burger::after {
    transform: translateY(8px) translateX(0px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {

    transform: translateX(-55px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .primary-navigation{
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 200ms;
    overflow: hidden;
    /* mix-blend-mode: difference; */
    /* justify-content: flex-end;*/
  }
  .primary-navigation[data-open='true']{
    transform: translateY(0);
  }
  .primary-navigation[data-open='false']{
    transform: translateY(-100%);
  }
  .tabs-menu{
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
        /* background-color: ; */
}
.tabs-links{
    font-size: var(--fs-nav);

  }
  .tabs-orders{
    font-size: var(--fs-nav-order);
  }

  .primary-navigation::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0rem;
    height: 100%;
    /* transform: rotateZ(45deg) translateY(-30%) ; */
   
    /* aspect-ratio: 1; */
    background-color: rgb(221, 221, 221);
    z-index:1;
    animation: expand-shrink 20s ease-in-out infinite;
  }

  @keyframes expand-shrink {
    0%{
        width: 10%;
        /* opacity: 0.7; */
    }
    50%{
        width: 100%;
        transform: rotate(45deg)
        /* opacity: 0.3; */
    }
    100%{
        width: 10%;
        /* opacity: 0.7; */
    }
}

.tabs-wrapper{
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    gap:1rem;
    margin-top: 1rem;
}
.tabs-wrapper>*{
    color: rgb(248, 248, 248);
    /* position: relative;
    right: 5rem; */
    mix-blend-mode: difference;
    text-decoration: none;
    z-index: 2;
}
.grid-split-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

  @media (min-width: 45em) {
    :root{
        --fs-nav: 2.75rem;
    --fs-nav-order: 1rem;
    --fs-h1:5rem;
    --fs-h2: 3rem;
    }
    h2{
 
      margin: 0rem 0 1rem 0;
    }
    section{
      margin-right: clamp(16rem,30vw,20rem);;
    }
  section:not(:nth-child(2)) {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2rem 1rem;
    
  }
  section:nth-child(2){
    border-left: 2px solid rgb(1, 1, 1);
    border-top: 2px solid rgb(2, 2, 2);
    border-bottom: 0;
    /* background-color: rgb(187, 187, 187); */

    /* mix-blend-mode: difference; */
    
  }
  /* section:nth-child(3){
    background-color: rgb(206, 206, 206);
  } */
  section:nth-child(2)>div,
  section:nth-child(2)>p,
  section:nth-child(2)>a{
    font-weight: 700;
    /* background-color: rgb(244, 244, 244); */
  }
.primary-navigation{
    position: fixed;
    inset: auto 0 auto auto;
    width: clamp(16rem,30vw,20rem);
    background-color: rgb(242, 242, 242);
    border: 2px solid white;
  
    mix-blend-mode: difference;
}
.primary-navigation::before{
    /* display: none; */
    width:1rem;
    height: 150%;
  background-color: rgb(0, 0, 0);
    /* transform: rotate(45deg); */
    /* animation: none; */
    top:-25%;
    left:0.75rem;
}

 .menu-btn{
        display: none;
  }
  .tabs-orders{
    position: relative;
    height: 100%;
    flex-shrink: 0;
  }
  .tabs-menu{
    padding-bottom: 2rem;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
        /* background-color: ; */
}
  .tabs-menu::after{
    content:'';
    position: absolute;
    right:17.5rem;
    
    width: 4rem;
    height: 100%;
    background-color: rgb(212, 212, 212);
    display: none;
  }
  /* .tabs-orders::after{
    content: '';
    position: absolute;
    left:0;
    width: 2rem; 
    height: 00%;
    flex-shrink: 0;
    background-color: red;
  } */
  .primary-navigation[data-open='true']{
    transform: translateX(0);
  }
  .primary-navigation[data-open='false']{
    transform: translateX(0);
  }

  .biography-sect2{
    padding: 1rem;
    height: 100%;
    /* background-color: rgb(209, 209, 209); */
  }
 
  .biography-sect2>div{
  
  }
  @keyframes expand-shrink {
    0%{
        width: 1.25rem;
        /* opacity: 0.7; */
    }
    50%{
        width: 100%;
        transform: rotate(45deg) scale(3);
        /* opacity: 0.3; */
    }
    100%{
        width: 1.25rem;
        /* opacity: 0.7; */
    }
}
}
.inner-cursor{
    position:absolute;
    top:-20px;
    left:-20px;
    /* top:0;
    left:0; */
    width: 40px;
    height: 40px;
    transform:translate(-50%,-50%);
    background-color: rgb(247, 247, 247);

    mix-blend-mode: difference;
    border: 1px solid rgb(233, 233, 233);
    /* background-color: transparent; */
    border-radius: 50%;
    pointer-events:none;
    /* transition: width 0.2s, height 0.2s, opacity 0.2s,   background-color 0.2s;  */
    /* opacity: 0; */
    z-index: 9999;
    transition: width 2s, height 2s, opacity 0.2s,  background-color 0.2s; 
    /* transform: scale(1); */
    transition: left 0.3s, top 0.3s, transform 0.0s, width 0.2s, height 0.2s;
}

.inner-cursor.grow{
    top:-50px;
    left:-50px;
    width:100px;
    height:100px;
    transition: left 0.3s, top 0.3s, transform 0.0s, width 0.2s, height 0.2s;
    /* transform: scale(5); */


    
   
   
}
/* 
.inner-cursor::before{
    content: '';
    position: absolute;

    width: 80px;
    height: 80px;
    border: 3px solid hsl( var(--clr-pink));
} */
.outer-cursor{
    position:absolute;
    mix-blend-mode: difference;
    top:-20px;
    left:-20px;
    /* top:0px;
    left:0px; */
    width: 40px;
    height: 40px;
    display: none;
    display: none;
    transform:translate(-50%,-50%);
    /* mix-blend-mode: difference; */
    /* border: 1px solid rgb(29, 29, 29); */
    border-radius: 50%;
    pointer-events: none;
    opacity:1;
    /* transition: width 0.2s, height 0.2s,opacity 0.2s;  */
    z-index: 9999;
}
.outer-cursor.grow{
    width: 200px;
    height: 200px;
    mix-blend-mode:difference;
    border: 3px solid white;
    display: none;
    /* transition: width 0.2s, height 0.2s, opacity 0.2s;  */
}

@media (min-width: 65em) {
    :root{
        --fs-nav: 2.75rem;
    --fs-nav-order: 0.85rem;
    --fs-h1: 7rem;
    }
}
@media (hover: hover) and (pointer: fine) {
    /* Styles for hover-able devices */
    /* .inner-cursor,.inner-cursor.grow,.outer-cursor,.outer-cursor.grow {
    } */
   
}
@media (pointer: coarse) {
    .inner-cursor,
    .inner-cursor.grow,
    .outer-cursor,
    .outer-cursor.grow{
    display: none;
    }
  }
.text-center{text-align: center;}
.text-right{text-align: right;}