
@font-face {
    font-family: "Fog7";
    src: url(../assets/fonts/Foglihten-068.otf) format('opentype');  
}  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    overflow-y: scroll;
    background-color: rgb(29, 29, 29);
    background: linear-gradient(rgb(236, 236, 236), rgb(158, 158, 158))

  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1rem;
    height: 120vh;
    min-height: 100vh;
  }

  h1{
    font-size: 2rem;
    text-align: center;
    font-family:'Fog7', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0;
    color:rgb(38, 38, 38);
    user-select: none;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 2rem 0;
    font-family:'Fog7', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(32, 32, 32);
    user-select: none;
  }
    p{
        user-select: none;
        font-family: 'Fog7', 'Arial Narrow', Arial, sans-serif;
        color: rgb(231, 231, 231);
       
    }
    /* button{
        font-size: 2rem;
        padding: 1rem;
        background-color: black;
        color: wheat;
        margin: 1rem;
    } */
    #ball{
        background-color: rgb(10, 10, 10);
        width: clamp(32rem,3vh,65rem);
        width: 90%;
        /* height: clamp(32rem,3vh,65rem); */
        /* border: 1px solid rgb(31, 31, 31); */
        box-shadow: 50px 50px 15px 10px rgba(71, 74, 90, 0.3);
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        animation: turn 1.5s ease-in-out;
    }
    .result-wrapper{
        display: flex;
        justify-content: center;
       
        align-items: center;
        align-content: center;
        width: 50%;
        height: 50%;
        aspect-ratio: 1;
        border: 10px solid rgba(69, 69, 69, 0.995);
        /* border: 10px solid rgba(180, 180, 180, 0.267); */
        border-radius: 50%;
        /* background-color: red; */
        /* box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.651); */
        animation: turn2 1.5s ease-in-out;
    }
    #result-area{
        position: relative;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background-color: rgb(11, 11, 11);
        /* border: 6px solid rgb(0, 0, 0); */
        /* outline: 10px solid rgba(5, 5, 5, 0.781); */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
        opacity: 0.8;
        animation: fade-in 2s ease-in-out;
    }
    #blue-triangle{
        position: relative;
        width: 80%;
        height:80%;
        aspect-ratio: 1;
        background: url(../assets/images/triangle.png)center center / contain no-repeat;
        /* background-color: red; */
        /* padding: 6rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        animation: rotate 50s ease-in-out infinite;
        opacity: 0.8;
    }
    #result-text{
        text-align: center;
        font-size:clamp(1rem,5vw,1.5rem);
        text-align: center;
        max-width: 10rem;
        text-align: center;
        position: relative;
        animation: fade-in 4s ease-in-out;
        bottom:1rem;
        opacity: 0.8;
   
    }
    .result{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.973);
        position: relative;
    }
    @media (min-width:45em){
        #ball{
        width: clamp(40rem,40vw,70rem);
        height: clamp(40rem,40vw,70rem);
        }
        .result-wrapper{
            border: 20px solid rgba(34, 34, 34, 0.89);
        }
        #result-area{
            /* border: 10px solid rgba(0, 0, 0, 0.973); */
        }
        .result{
            border: 10px solid rgba(0, 0, 0, 0.973);
        }
        #result-text{
            font-size: 2rem;
            bottom:clamp(0.5rem,30vw,2rem);
        }
        #blue-triangle{
            width: 80%;
            height: 80%;
            top:1rem;
        }
    }
   
    /* #result-area:before{
        content:'';
        position: absolute;
        width: clamp(17rem,20vw,23rem);
        height: clamp(17rem,20vw,23rem);
        aspect-ratio: 1;
        z-index: 99;
        outline: 15px solid rgb(223, 215, 215);

        border-radius: 50%;
        transform: scale(1.03);
        
      
       
    } */
    .turn-animation{
        animation: turn 1.5s ease-in-out;
    }
    .turn-animation2{
        animation: turn2 1.5s ease-in-out;
    }
    .fade-in{
        animation: fade-in 2s ease-in-out;
    }

    @keyframes rotate {
        0%{
            transform: rotate(0deg);
            /* opacity: 0.7; */
        } 25%{
      
            transform: rotate(30deg)
            /* opacity: 0.3; */
        } 75%{
      
            transform: rotate(-25deg)
            /* opacity: 0.3; */
        }
        100%{
            transform: rotate(0deg)
            /* opacity: 0.3; */
        }
      
    }
@keyframes fade-in{
    0%{
        opacity: 0;
    } 100%{
        opacity: 0.8;
    }
}

    @keyframes turn {
        0%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
            /* opacity: 0.7; */
        } 25%{
            transform:perspective(1000px) translate(-30%,-6%) rotateY(-7deg);
    
            /* opacity: 0.3; */
        }
        /* 40%{
            transform:perspective(1000px) translate(0%,-20%) rotateX(10deg);
        } */
        50%{
            transform:perspective(1000px) translate(20%,6%) rotateY(9deg);
            opacity: 0.9;
          
        }
        75%{
            transform:perspective(1000px) translate(-10%,-2%) rotateY(-8deg);
         
          
        }
        /* 80%{
            transform:perspective(1000px) translate(0%,20%) rotateX(10deg);
      
        }  */
        100%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
            /* opacity: 0.7; */
        }
    }
    @keyframes turn2 {
        0%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
      
        } 25%{
            transform:perspective(1000px) translate(-38%,-2%) rotateY(-14deg);
    
            /* opacity: 0.3; */
        }
        /* 40%{
            transform:perspective(1000px) translate(0%,-20%) rotateX(10deg);
           
        } */
        50%{
            transform:perspective(1000px) translate(57%,2%) rotateY(20deg);

          
        }
        76%{
            transform:perspective(1000px) translate(-15%,-5%) rotateY(-6deg);
      
        } 
        100%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
    
        }
    }