@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* @font-face {
    font-family: "Rajdhani";
    src: url(../assets/fonts/Foglihten-068.otf) format('opentype');  
}   */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
:root{
    --fs-btn:1.1rem;
    --fs-h1:2rem;
    --fs-h2:1.25rem;
}
  body{
    overflow-y: scroll;
    background-color: rgb(29, 29, 29);
    background: linear-gradient(rgb(215, 215, 215), rgb(169, 168, 231));

  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1rem;

    min-height: 100vh;
  }

  h1{
    font-size: var(--fs-h1);
    text-align: center;
    font-family:'Rajdhani', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0;
    /* color:rgb(38, 38, 38); */
    user-select: none;
    /* text-shadow: 10px 5px 2px rgba(166, 166, 166, 0.371); */
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1rem 0;
    font-family:'Rajdhani', Tahoma, Geneva, Verdana, sans-serif;
    /* color:rgb(32, 32, 32); */
    user-select: none;
    /* text-shadow: 10px 5px 2px rgba(166, 166, 166, 0.397); */
  }
    p{
        user-select: none;
        font-family: 'Rajdhani', 'Arial Narrow', Arial, sans-serif;
    }
    .title{
        background-color: rgb(235, 235, 235);
        padding: 1rem;
        margin:3rem 1rem;
        border-radius: 10px;
        color: rgb(105, 105, 105);
        box-shadow: 15px 15px 20px 5px rgba(55, 57, 66, 0.3);
        /* border:2px solid rgba(255,255,255,255); */
        
    }
    /* button{
        font-size: 2rem;
        padding: 1rem;
        background-color: black;
        color: wheat;
        margin: 1rem;
    } */
  
    #ball{
        background-color: rgb(10, 10, 10);
        /* width: clamp(32rem,3vh,65rem); */
        width: 90%;
        /* height: clamp(32rem,3vh,65rem); */
        /* border: 1px solid rgb(31, 31, 31); */
        box-shadow: 50px 50px 15px 10px rgba(71, 74, 90, 0.3);
        aspect-ratio: 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;


        cursor: pointer;
        animation: turn 1.5s ease-in-out;
        margin:0 auto 3rem;

        z-index: 10;
    }
    .result-wrapper{
        display: flex;
        justify-content: center;
       
        align-items: center;
        align-content: center;
        width: 50%;
        height: 50%;
        aspect-ratio: 1;
        border: 10px solid rgba(69, 69, 69, 0.995);
        /* border: 10px solid rgba(180, 180, 180, 0.267); */
        border-radius: 50%;
        /* background-color: red; */
        /* box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.651); */
        animation: turn2 1.5s ease-in-out;
    }
    #result-area{
        position: relative;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background-color: rgb(11, 11, 11);
        /* border: 6px solid rgb(0, 0, 0); */
        /* outline: 10px solid rgba(5, 5, 5, 0.781); */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
        opacity: 0.9;
        animation: fade-in 2s ease-in-out;
    }
    #blue-triangle{
        position: relative;
        width: 80%;
        height:80%;
        aspect-ratio: 1;
        background: url(../assets/images/triangle.png)center center / contain no-repeat;
        /* background-color: red; */
        /* padding: 6rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        animation: rotate 50s ease-in-out infinite;
        opacity: 0.9;
    }
    #result-text{
        text-align: center;
        color: rgb(217, 217, 217);
        font-family: 'Rajdhani', sans-serif;
        font-size:clamp(1rem,5vw,1.5rem);
        text-transform: uppercase;
        text-align: center;
        max-width: 20ch;
        text-align: center;
        position: relative;
        animation: fade-in 4s ease-in-out;
        bottom:1rem;
        opacity: 0.9;
    }
    .instruction-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }
    .buttons-area{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap:1rem;
        
        /* height: min-content; */
       
        justify-content: center;
        margin: 1rem 1rem 2rem;
     
    }
 
    .cuisines-button,
    .all-cuisines-btn{
        font-family: sans-serif,'Rajdhani', 'Arial Narrow', Arial, sans-serif;
        font-size: var(--fs-btn);
        /* border: 1px solid rgb(12, 12, 12); */
        color:rgb(71, 71, 71);
        border-radius: 5px;
        padding: 0.5rem;
        background-color: rgb(235, 235, 235);
        z-index: 1;
        box-shadow: 5px 5px 4px 0px rgb(166, 166, 166);
        font-family: 'Rajdhani', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        cursor: pointer;
    }
    .cuisines-button.active,
    .all-cuisines-btn.active{
        background-color: rgba(23,28,153,255);
        color: rgb(217, 217, 217);
    }
    .result{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid rgba(0, 0, 0, 0.973);
        position: relative;
    }
    @media (min-width:45em){
        :root{
            --fs-btn:1.35rem;
            --fs-h1:2.5rem;
        }
        .title{
            width: auto;
        }
        #ball{
        width: clamp(40rem,40vw,50rem);
        height: clamp(40rem,40vw,50rem);
        /* width: 50%;
        height: 50%; */
        }
        .result-wrapper{
            border: 20px solid rgba(61, 61, 61, 0.89);
        }
        #result-area{
            /* border: 10px solid rgba(0, 0, 0, 0.973); */
        }
       
        .result{
            border: 10px solid rgba(0, 0, 0, 0.973);
        }
        #result-text{
            font-size: 2rem;
            bottom:clamp(0.5rem,30vw,2rem);
        }
        #blue-triangle{
            width: 80%;
            height: 80%;
            top:1rem;
        }
    
      
    }
   @media (min-width:65em){
    :root{
        /* --fs-btn:1.25rem; */
    }
    .grid-half{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .instruction-area{
        padding: 1rem;
        height: min-content;
        max-width: 25rem;
        border: rgb(236, 236, 236) 5px solid;
        background-color: rgba(221, 221, 221, 0.438);
    }
    .buttons-area{
     
        justify-content: center;
        /* align-items: center; */
        align-content: center;
        /* justify-self: flex-start; */
        
    }
    .buttons-area>*:not(:last-child){
        height: min-content;
        flex:1;
    }
    #ball{
        margin-left:2rem
    }

   }
    /* #result-area:before{
        content:'';
        position: absolute;
        width: clamp(17rem,20vw,23rem);
        height: clamp(17rem,20vw,23rem);
        aspect-ratio: 1;
        z-index: 99;
        outline: 15px solid rgb(223, 215, 215);

        border-radius: 50%;
        transform: scale(1.03);
        
      
       
    } */
    .turn-animation{
        animation: turn 1.5s ease-in-out;
    }
    .turn-animation2{
        animation: turn2 1.5s ease-in-out;
    }
    .fade-in{
        animation: fade-in 2s ease-in-out;
    }

    @keyframes rotate {
        0%{
            transform: rotate(0deg);
            /* opacity: 0.7; */
        } 25%{
      
            transform: rotate(30deg)
            /* opacity: 0.3; */
        } 75%{
      
            transform: rotate(-25deg)
            /* opacity: 0.3; */
        }
        100%{
            transform: rotate(0deg)
            /* opacity: 0.3; */
        }
      
    }
@keyframes fade-in{
    0%{
        opacity: 0;
    } 100%{
        opacity: 0.9;
    }
}

    @keyframes turn {
        0%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
            /* opacity: 0.7; */
        } 25%{
            transform:perspective(1000px) translate(-30%,-6%) rotateY(-7deg);
    
            /* opacity: 0.3; */
        }
        /* 40%{
            transform:perspective(1000px) translate(0%,-20%) rotateX(10deg);
        } */
        50%{
            transform:perspective(1000px) translate(20%,6%) rotateY(9deg);
            opacity: 0.9;
          
        }
        75%{
            transform:perspective(1000px) translate(-10%,-2%) rotateY(-8deg);
         
          
        }
        /* 80%{
            transform:perspective(1000px) translate(0%,20%) rotateX(10deg);
      
        }  */
        100%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
            /* opacity: 0.7; */
        }
    }
    @keyframes turn2 {
        0%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
      
        } 25%{
            transform:perspective(1000px) translate(-38%,-2%) rotateY(-14deg);
    
            /* opacity: 0.3; */
        }
        /* 40%{
            transform:perspective(1000px) translate(0%,-20%) rotateX(10deg);
           
        } */
        50%{
            transform:perspective(1000px) translate(57%,2%) rotateY(20deg);

          
        }
        76%{
            transform:perspective(1000px) translate(-15%,-5%) rotateY(-6deg);
      
        } 
        100%{
            transform:perspective(1000px) translate(0,0%) rotateX(0deg);
    
        }
    }