* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Pixeloid';
    src: url(./assets/fonts/PixeloidSans.ttf) format('truetype');
}
@font-face {
    font-family: 'PixeloidBold';
    src: url(./assets/fonts/PixeloidSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'm12';
    src: url(./assets/fonts/m12.TTF) format('truetype');
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* min-height: 100vh; */
    background-color: #534037;

}

main{
    width: 100%;
    /* min-height: 100vh; */
    background-color: #534037;
   overflow: hidden;
   padding: 1rem;
  
}
h1,h2,h3{
    font-family: 'm12';
    letter-spacing: 0.2rem;
    line-height: 2rem;
}
.passport-infos span:nth-child(1),
.visa-infos span:nth-child(1),
.work-infos span:nth-child(1),
.study-infos span:nth-child(1){
    font-family: 'PixeloidBold';
}
.visa-profile-img{
    width: min-content;
}
h4{
    font-family: 'PixeloidBold';
  
}
p, ul, li, span{
    font-family: 'Pixeloid';
}

.pleading{
    position: absolute;
    top:1rem;
    right:1rem;
    width: 20rem;
    height: auto;
    padding: 1rem;
    background-color: white;
    opacity: 0;
    z-index: 100;
}
.game-wrapper{
    position: relative;
    /* background-color: #98bcdd; */
    max-width: 75rem;
    /* margin: auto; */
   margin:2rem auto;
    animation: day-night 120s linear infinite;
    /* border: red 2px solid; */
}
@keyframes day-night{
    0%{
        background-color: #819dc5;
    }

    33%{
        background-color: #e9c163;
    }
    66%{
        background-color: #12293f;
    }
    100%{
        background-color: #819dc5;
    }
}
.player-voice{
    position: absolute;
    bottom:2rem;
    left: 0;
    color: white;

    text-shadow: 2px 2px 2px rgb(24, 24, 24);
    text-align: center;
    width: 100%;
    z-index: 999;
  }
.glass-wrapper{
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    /* background: url(./assets/images/glass.png) center center / cover no-repeat; */
}
.glass{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: url(./assets/images/glass2.png) center bottom / cover no-repeat;
    z-index: 5;
}

.person{
    position: absolute;
    bottom: -3rem;
    left: 25%;
    width: 30rem;
    height: 100%;
    background: url(./assets/images/Man.png) center center / contain no-repeat;
    /* background-color: red; */   
    /* transition: transform 0.5s ease-in-out; */
    z-index: 1;
}
/* .person:hover{
    transform:translateX(60rem);
} */
.walk-inside{
    animation: walk-inside 3s ease-out forwards;
}
@keyframes walk-inside{
    0%   {
        transform:translate(0,0)
    }
    20%{
        transform: translate(28rem,2.5rem);
    }
    40%{
        transform: translate(56rem,0rem);
    }
    50%  {
        transform:translate(70rem,0);
    }
   
    50.0001%  {transform: translate(-70rem)}
    60%{
        transform: translate(-56rem,2.5rem);
    }
    80%{   transform: translate(-28rem,0rem);}
    100% {transform: translate(0,0)}
  }
  @keyframes walk-inside{
    0%   {
        transform:translate(0,0)
    }
    20%{
        transform: translate(28rem,2.5rem);
    }
    40%{
        transform: translate(56rem,0rem);
    }
    50%  {
        transform:translate(70rem,0);
    }
   
    50.0001%  {transform: translate(-70rem)}
    60%{
        transform: translate(-56rem,2.5rem);
    }
    80%{   transform: translate(-28rem,0rem);}
    100% {transform: translate(0,0)}
  }
  .walk-outside{
    animation: walk-outside 3s ease-out forwards;
}
  @keyframes walk-outside{
    0%   {transform:translate(0,0)}
    20%{
        transform: translate(-28rem,2.5rem);
    }
    40%{
        transform: translate(-56rem,0rem);
    }
    50%  {
        transform:translate(-70rem,0);
    }
   
    60%{
        transform: translate(-56rem,2.5rem);
    }
    80%{   transform: translate(-28rem,0rem);}
    100% {transform: translate(0,0)}
  }

.table{
    position: relative;
    /* position: relative;
    bottom: 0; */
    border-top: #795e51 10px solid;
    background-color: #9A7767;
    width: 100%;
    height: 20rem;
    z-index: 10;
}

.passport-down{
    position: absolute;
    top:-3rem;
    left: 40%;
    width: 10rem;
    height: 10rem;
    background: url(./assets/images/passport.png) center center / contain no-repeat;
    /* background-color: red; */
    margin: auto;
    transition: transform 0.4s;
    cursor: pointer;
}
.passport-down:hover{
    transform: scale(1.2) translateY(2rem);
}
.passport-returned{
    animation: passport-returned 0.6s ease-out;
}


@keyframes passport-returned{
    0%   {
        transform: scale(1) translateY(3rem);
    }
   30%{
    opacity:1;
   }
    100%{
        transform: scale(0.6) translateY(-5rem);
        opacity:0.5;
    }
}
.passport-received{
    animation: passport-received 0.6s ease-in;
}

@keyframes passport-received{
    0%{
        transform: scale(0.6) translateY(-5rem);
        opacity:0.5;
    }
    60%{
        opacity:1;
    }
    100%   {
        transform: scale(1);
    }
}


.ipad{
    position: absolute;
    bottom:0rem;
    left: -1rem;
    width: clamp(16rem,50vw,27rem);
    height: 35rem;
    background-color: white;
    z-index: 100;
    padding: 1rem;
    border-radius: 20px;
    border: 1rem rgb(26, 24, 24) solid;  
    transition: all 0.3s ease-out;
}

.ipad[data-used='false']{
    transform: perspective(1000px) rotateX(60deg) rotateZ(-3deg)translateY(10rem) scale(0.7);
    /* box-shadow: -10px -15px 5px rgba(2, 2, 2, 0.377); */
}
.ipad[data-used='false']:hover{
    transform: rotateX(0deg) rotateZ(-3deg) translateY(0rem) scale(1);
    /* box-shadow: 0 0 0  rgba(2, 2, 2, 0.377); */
}
.ipad h2{
    margin: 2rem 0 1rem;
    padding: 1rem;
    color: white;
    background-color: rgb(26, 24, 24);
}
.ipad .info-sect{
    padding: 0 1rem ;
    /* background-color: red; */
}
.ipad-content{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
 
}
.ipad h4{
    margin-top: 1rem;
}
.ipad li{
    /* list-style */
    margin-left:1rem;
}
.ipad span{
    font-weight: 600;
}
.instructions-btn, .history-btn{
    text-transform: uppercase;
    border: 2px solid #191919;
    padding: 0.5rem;

    transition: all 0.2s;
   
    /* text-decoration: underline; */
}
.instructions-btn:hover, .history-btn:hover, .instructions-btn.active, .history-btn.active{
    color: white;
    background-color: #191919;
    cursor: pointer;
}
.history-btn{
    margin-left: 1rem;
}
.history-tab{
    margin-top:2rem;
}
.history-tab,.instructions-tab{
    height: 100%;
}
.line-ipad{
    width: 100%;
    margin-top:1rem;
    border-bottom: 2px solid rgb(32, 32, 32);
}
.passport-near h3{
    text-align: center;
    padding-top: 2rem;
}
.passport-top h3{
    margin:0 2rem;

}
.visa-profile-wrapper{
    align-self: flex-start;
}
.passport-near{
    color:#601515;
    position: fixed;
    top: 1rem;
    /* left:0; */
    right:3rem;
    width: 24rem;
    height: 31rem;
    border: 3px solid #601515;
    border-radius: 15px;
    background-color: #E3C5C7;
    z-index: 200;
    cursor:grab;
    /* transition: transform 0.3s; */
}

.passport-info-wrapper,
.visa-info-wrapper{
    transform-style: preserve-3d;
}
.passport-content{
    width: 100%;
    height: 100%;
    position:relative;
    /* border:2px blue solid; */
}
.passport-top{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 50%;
    background-color: #E0BABD;
    border-bottom: 3px solid #601515;
}
.passport-bottom{
    width: 100%;
    height: 50%;
    position: relative;
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}
.passport-bottom-front,
.passport-bottom-back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 95%;
    
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /* border: 1px solid red; */
    transform-origin: top center;
}


.fourth-page{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem
}
.accept-btn,.decline-btn{
    font-family: 'PixeloidBold';
    font-size:1.5rem;
    background-color: rgb(245, 245, 245);
    border:3px solid #601515;
    border-style: dashed;
    height: min-content;
    padding: 1rem 1rem;
    cursor: pointer;
    opacity: 0.3;
}
.accept-btn[data-chosen='false']:hover,.decline-btn[data-chosen='false']:hover{
    opacity: 0.6;
}
.accept-btn[data-chosen='true'],
.decline-btn[data-chosen='true']{
    opacity:1;

}
.passport-bottom-front{
    background-color: #E0BABD;
    border-radius:0px 0px 15px 15px ;
    border-bottom: 3px solid #601515;
}

.passport-bottom-back{
    color: #191919;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(231, 231, 231);
    transform: rotateX(.5turn) translateY(-100%);
    border-top: 3px solid #601515;
    border-bottom: 3px solid #601515;
}


/* .passport-content:hover .passport-bottom{
    transform: rotateX(0.5turn);
} */

.passport-bottom[data-flipped='true']{
    transform: rotateX(0.5turn);
}
.passport-flip-btn{
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 0 0 35% 0;
    border: 3px solid #601515;
    cursor: pointer;
    /* border-left: 3px solid #601515; */
}

.profile-img{
    background-color: rgb(233, 233, 233);
    width: 7rem;
    height: 7rem;
    border: 3px solid #601515;
}
.passport-bottom-back .profile-img{
    border: 3px solid #191919;
}
.passport-close-btn{
    position: absolute;
    background: url(./assets/images/arrow-down.png) center center / contain no-repeat;
    bottom: -4rem;
    left:45%;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
/* .passport-close-btn:hover{
    transform: translateY(1rem);
} */
.tv{
    width: 20rem;
    height: 12rem;
    position: absolute;
    background-color: #424242;
    border:#191919 solid 6px;
    border-radius: 5px;
    top:2rem;
    left:2rem;
   padding:1rem;
   background:url(assets/images/tv/news.jpg) center center / cover no-repeat;
}
.tv-screen{

    height: 100%;
    position: relative;
}
.tv-subtitles{
    position: absolute;
    bottom:0;
    font-family: 'Pixeloid';
   
    color: whitesmoke;   
    text-shadow: 2px 2px 2px rgb(24, 24, 24);
    /* background-color: black;  */
}
.work-permit,
.study-permit{
    position: fixed;
    background-color: whitesmoke;
    top:1rem;
    right:0.5rem;
    width: 22rem;
    height: 32rem;
    z-index: 100;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #601515;
    cursor:grab;
    transition: transform 0.4s;
}

.study-permit{
    color: #153360;
}

/* .work-permit:hover,
.study-permit:hover,
.passport-near:hover {
   transform:translateY(1rem);
} */
.work-permit h2{
    margin-bottom: 2rem;
}

.work-info-wrapper{
    margin: 1rem 0 4rem;
}
.box{
    width: 100%;
    height: 7rem;
    background-color: #153360;
}
.line{
    width: 100%;
    height: 0.5rem;
    background-color: #601515;
}
.study-permit >.line{
    background-color: #153360;
}
.current-date{
    font-family: 'Pixeloid';
    color: whitesmoke;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.hidden{
    display: none;
}

.on-top{
    z-index: 9999;
}
.appear-left{
    animation: appear-left 4s ease-out 0.5s forwards;
}

@keyframes appear-left{
 0%{
    opacity: 0;
    transform: translateX(-50%);
 } 
 10%{
    opacity:1;
    transform: translateX(0);
 }  
 95%{
    opacity:1;
    transform: translateX(0);
}
 100%{
    opacity:0;
    transform: translateX(-1rem);
}
}